geopandas==0.13.2
lightgbm==3.3.5
matplotlib
numpy
pandas
shapely
fiona==1.9.6
pyproj
rtree
geopy
pygeos
seaborn
tqdm
chardet
gradio
scikit-learn
scipy
requests
python-dotenv
optuna
memory-profiler
japanize-matplotlib